extends ../layout

block content

	section.home
		h2= `Welcome ${name}`
		form(action='/logout', method='post')
			button(type='submit') Logout

	section(classname='search')
	h2 Spotify App
	form(method='post' action='/searchArtist')
		input(type='text', placeholder='Search an artist...' name='artist')
		button(type='submit') Search
		if(artistList)
			+artist(artistList)

    section(classname='resultsSearch')
        ul
            each item in results
                li= item.name
